.logo {
  color: rgb(40, 34, 108);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  min-height: 120px;
}

.logo-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: breathe 4s ease-in-out infinite;
  font-weight: 200;
  width: 180px;
  font-size: 31px
}

@keyframes breathe {
  0% {
    text-shadow: none;
  }
  20% {
    text-shadow: none;
  }
  50% {
    text-shadow:
    0.5px -0.5px 0 rgb(40, 34, 108),
    -0.5px 0.5px 0 rgb(40, 34, 108),
    -0.5px -0.5px 0 rgb(40, 34, 108),
    0.5px 0.5px 0 rgb(40, 34, 108);
  }

  80% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}