.new-task-page {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.task-card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 50px;
  border-radius: 20px;
  font-size: 22px;
  width: 60vw;
  min-width: 250px;
  max-width: 500px;
  min-height: 40%;
  color: rgb(40, 34, 108, 0.9);
  font-family: 'kalam', cursive;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.task-text {
  margin: 0;
  height: 50%;
}

.category-title {
  color: rgb(40, 34, 108, 1);
  font-weight: 500;
  font-family: 'kalam', cursive;
  font-size: 1.8rem;
  background-color: rgba(91, 74, 202, 0.1);
  width: 60vw;
  padding: 5px 50px;
  min-width: 250px;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

.back-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: 25px;
}

.task-card-buttons {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.card-icon {
  height: 30px;
  width: 30px;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.card-icon:hover {
  cursor: pointer;
  opacity: 1;
}
