@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;500;700');

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.logo {
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(40, 34, 108);
  font-size: 25px;
}

.image-container {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image-halo {
  background-color: rgba(255, 255, 255, 0.284);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: haloBreathe 4s ease-in-out infinite;
}

.logo h1 {
  animation: breathe 4s ease-in-out infinite;
  font-weight: 200;
}

@keyframes haloBreathe {
  0% {
    width: 100px;
    height: 100px;
  }
  20% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 115px;
    height: 115px;
  }
  80% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes breathe {
  0% {
    text-shadow: none;
  }
  20% {
    text-shadow: none;
  }
  50% {
    text-shadow:
    0.5px -0.5px 0 rgb(40, 34, 108),
    -0.5px 0.5px 0 rgb(40, 34, 108),
    -0.5px -0.5px 0 rgb(40, 34, 108),
    0.5px 0.5px 0 rgb(40, 34, 108);
  }

  80% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.intro-text-container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.intro-text {
  text-align: center;
  width: 80%;
  color: rgb(40, 34, 108);
  font-family: 'kalam', cursive;
  font-size: 1.5rem;
}