.home-view {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories {
  padding: 5vh;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  
}

.category {
  height: 12vw;
  width: 12vw;
  min-height: 150px;
  min-width: 150px;
  background-color: white;
  margin-bottom: 12px;
}